### Для выполнения ДЗ необходимо загрузить датасет [Титаник](https://www.kaggle.com/c/titanic/data) (train.csv и test.csv)

### Также, необходимо установить на рабочий ПК дистрибутив [MongoDB](https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/). Все настройки оставить дефолтные. Просто нажимать кнопку "далее"

### P.S. Прежде чем запускать скрипт, необходимо зайди в MongoDB Compass. Никаких настроек менять не нужно. Просто нажать кнопку "connect"

### Установим библиотку `pymongo`

In [ ]:
! conda install -c anaconda pymongo -y

### Загрузим библиотеку `pymongo`

In [1]:
from pymongo import MongoClient

### Создадим базу данных

In [2]:
myclient = MongoClient("mongodb://localhost:27017/")

### Создадим БД

In [3]:
mydb = myclient["titanic"]

### Посмотрим список БД в нашей папке

In [4]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'titanic']

### Создадим коллекции для датасетов test и train

In [5]:
test_col = mydb["test"]
train_col = mydb["train"]

### Посмотрим список коллекций в нашей БД

In [6]:
print(mydb.list_collection_names())

['test', 'train']

### Необходимо загрузить в Jupyter оба датасета и привести их к следующему виду:

In [7]:
test_list = [
    { 
        'survival':'row1',
        'pclass':'row1',
        'sex':'row1',
        'Age':'row1',
        'sibsp':'row1',
        'parch':'row1',
        'ticket':'row1',
        'fare':'row1',
        'cabin':'row1',
        'embarked2':'row1',
    },
    { 
        'survival':'row2',
        'pclass':'row2',
        'sex':'row2',
        'Age':'row2',
        'sibsp':'row2',
        'parch':'row2',
        'ticket':'row2',
        'fare':'row2',
        'cabin':'row2',
        'embarked2':'row2',
  },
# таким образом необходимо вставить все данные
]


train_list = [
    { 
        'survival':'row1',
        'pclass':'row1',
        'sex':'row1',
        'Age':'row1',
        'sibsp':'row1',
        'parch':'row1',
        'ticket':'row1',
        'fare':'row1',
        'cabin':'row1',
        'embarked2':'row1',
    },
    { 
        'survival':'row2',
        'pclass':'row2',
        'sex':'row2',
        'Age':'row2',
        'sibsp':'row2',
        'parch':'row2',
        'ticket':'row2',
        'fare':'row2',
        'cabin':'row2',
        'embarked2':'row2',
  },
# таким образом необходимо вставить все данные
]

### Вставим данные в наши коллекции

In [8]:
insert_test_col = test_col.insert_many(test_list)
insert_train_col = train_col.insert_many(train_list)

### Посмотрим список БД в нашей папке

In [9]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'titanic']

### Посмотрим список коллекций в нашей БД

In [10]:
print(mydb.list_collection_names())

['test', 'train']

### `find({query}, {projection})` - метод, позволяющий вывести только те документы и проекции, которые подпадают под условие. Аналогичен связке операторов `SELECT` и `WHERE` в `SQL`

### Выведем все документы в коллекции

In [12]:
for doc in train_col.find():
    print(doc)

{'_id': ObjectId('5c94039ef7694600fc8bf648'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5c94039ef7694600fc8bf649'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}
{'_id': ObjectId('5c97e7acf769463794d38952'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5c97e7acf769463794d38953'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}

In [13]:
for doc in test_col.find():
    print(doc)

{'_id': ObjectId('5c94039ef7694600fc8bf646'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5c94039ef7694600fc8bf647'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}
{'_id': ObjectId('5c97e7acf769463794d38950'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5c97e7acf769463794d38951'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}

### Выведем все документы с проекцией на `survival` и `pclass`

In [15]:
for doc in train_col.find({},{'_id':0, 'survival':1, 'pclass':1}):
    print(doc)

{'survival': 'row1', 'pclass': 'row1'}
{'survival': 'row2', 'pclass': 'row2'}
{'survival': 'row1', 'pclass': 'row1'}
{'survival': 'row2', 'pclass': 'row2'}

In [16]:
for doc in test_col.find({},{'_id':0, 'survival':1, 'pclass':1}):
    print(doc)

{'survival': 'row1', 'pclass': 'row1'}
{'survival': 'row2', 'pclass': 'row2'}
{'survival': 'row1', 'pclass': 'row1'}
{'survival': 'row2', 'pclass': 'row2'}

### Выведем всех, кто старше 20 лет

In [ ]:
query = { "Age": { "$gt": 20 } }

docs_test = test_col.find(query)
docs_train = train_col.find(query)

for doc in docs_test:
    print(doc)
    
for doc in docs_train:
    print(doc)

### Удалим всех, кто младше 10 лет в `test_col` и младше 15 лет в `train_col`

In [ ]:
query_1 = { "Age": { "$lt": 10 } }
test_col.delete_many(query_1)


query_2 = { "Age": { "$lt": 15 } }
train_col.delete_many(query_2)

### Выведите на экран обе коллекции

In [ ]:
pass

### Удалим нашу БД

In [ ]:
myclient.drop_database("titanic")